.announcements {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background: #0f0f0fee;
}

.announcements > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
