.text-panel {
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: #0f0f0fee;
}

.text-panel > .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}
