.timetable-loading {
  display: flex;
  justify-content: center;
  place-items: center;
}

.timetable,
.timetable-loading {
  backdrop-filter: blur(5px);
}

.timetable {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.timetable > .list {
  flex: 1 1 auto;
  overflow-y: auto;
}

.timetable > .list > .entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
