.loading {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  place-items: center;
}

.timetable,
.loading {
  backdrop-filter: blur(5px);
}

.entry ol > li {
  margin-left: 1.25rem;
  margin-top: 0.5rem;
}

.entry ol > li > p {
  margin-left: 0.5rem;
}
