.weather-loading {
  overflow: auto;
  display: flex;
  justify-content: center;
  place-items: center;
  max-height: 250px;
}

.weather,
.weather-loading {
  backdrop-filter: blur(5px);
}

.weather {
  position: relative;
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.25rem;
  font-variant-numeric: tabular-nums;
}

.weather > svg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
}

.weather > .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.weather .weather-temp {
  font-size: 5rem;
}

.weather .weather-description {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weather .weather-wind {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}
