:root {
  --color-red-1: #fbe5e6;
  --color-red-2: #f4b0b3;
  --color-red-3: #ef767d;
  --color-red-4: #dc3545;
  --color-red-5: #9e232f;
  --color-red-6: #65131b;
  --color-red-7: #300508;
  --color-green-1: #9ffeba;
  --color-green-2: #35dc79;
  --color-green-3: #29b060;
  --color-green-4: #1d8748;
  --color-green-5: #115f31;
  --color-green-6: #073b1c;
  --color-green-7: #021909;
  --color-blue-1: #cce1fc;
  --color-blue-2: #7ebdf8;
  --color-blue-3: #3598dc;
  --color-blue-4: #2672a7;
  --color-blue-5: #174e74;
  --color-blue-6: #0a2d45;
  --color-blue-7: #02121f;
  --color-main: #9e6dff;
  --color-background: #020202;
  --color-gray: #181818;
  --color-dark-gray: #2a2a2a;
  --color-white-gray: #c8c8c8;
  --color-white: #ebe9e9;
  --round: 1rem;
  --gap: 1rem;
  --wide-gap: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-white);
  font-size: 16px;
}

.light-mode {
  background: var(--color-white);
  color: var(--color-background);
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
}

a {
  color: var(--color-main);
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}
